@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111827; /* 对应 bg-gray-900 */
  color: #ffffff; /* 对应 text-white */
}
